			
  {% if pageCount > 1 %}
        <div class="pagination flex-m flex-w p-t-26">

            {% if previous is defined  %}
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="item-pagination flex-c-m trans-0-4">  <i class="fa fa-chevron-left"></i>  </a>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="item-pagination flex-c-m trans-0-4">{{ page }}</a>
                {% else %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ page }}</a>
                {% endif %}
            {% endfor %}

             {% if next is defined %}
                 <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="item-pagination flex-c-m trans-0-4">  <i class="fa fa-chevron-right"></i>  </a>
            {% endif %}

  {% endif %}

                    
           